@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}
.navi:hover a{
    color: white;
    font-size :18px;
}
.button{
    @apply transition ease-in-out cursor-pointer  bg-blue-900 hover:-translate-y-1 hover:scale-110 hover:bg-purple-900 duration-300 text-white font-bold rounded-md
}

.shake{
    @apply transition ease-in-out  hover:-translate-y-1 hover:scale-110
}

.navi{
  @apply  hover:bg-blue-900  p-8 w-full flex justify-center
}
.navi.active  {
  background-color: #1e3a8a; /* Replace with your desired active color */
}

#tableContainer {
    height: 8rem;
    width: 100%;
    overflow: auto;
  }

  #tableContainer::-webkit-scrollbar {
    width: 12px;
    padding: -4px;
  }

  #tableContainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    padding: -4px;
  }

  #tableContainer::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
    border: 3px solid #f1f1f1;
  }

  #tableContainer::-webkit-scrollbar-corner {
    background: #f1f1f1;
  }

  #excelViewer{
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      border: 2px dashed #ccc;

  }
  
  #fileInfo {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  #resetButton {
    margin-left: 10px;
    cursor: pointer;
    
  }

  @keyframes tans {
    from{
        transform: translateX(0px);
    }

    to{
        transform: translateX(-50px);
    }

  }

  .trans{
    animation: tans 1.5s ease-in-ease-out ;
    animation-fill-mode: forwards;
}




