*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('blurredBg.png');
}
#fileContainer {
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    box-sizing: border-box;
  }